.layout-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-wrapper {
  flex: 1;
  margin-top: 70px; /* Header height */
}

.main-content {
  width: 100%;
  transition: margin-left 0.3s ease;
  margin-left: 250px; /* Default sidebar width */
}

.main-content.collapsed {
  margin-left: 70px; /* Collapsed sidebar width */
}

@media (max-width: 991.98px) {
  .main-content {
    margin-left: 0 !important;
  }
}